---
import { EmailRaw, GitHubRaw, LinkedInRaw } from "@assets";
import { CONFIG } from "@config";
import Button from "@ui/Button.astro";
import { pt } from "@i18n/pt";
---

<section id="cta-section" class="relative isolate py-14 md:py-28">
  <div class="container text-center">
    <h2 class="section-title mb-8">{pt.cta.title}</h2>

    <Button href="/contato" variant="primary" size="xl" class="cta-btn">
      {pt.cta.button}
    </Button>

    <nav class="social-links mt-6 justify-center">
      <a
        href={`mailto:${CONFIG.meta.social.email}?subject=Portfolio%20-%20Contato`}
        class="social-link text-white text-xl"
        rel="noopener noreferrer"
        target="_blank"
      >
        <span class="text-white h-8 w-8 md:h-14 md:w-14" aria-hidden set:html={EmailRaw} />
      </a>
      <a
        href={CONFIG.meta.social.github}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link text-white text-xl"
      >
        <span class="text-white h-8 w-8 md:h-16 md:w-16" aria-hidden set:html={GitHubRaw} />
      </a>
      <a
        href={CONFIG.meta.social.linkedin}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link text-white text-xl"
      >
        <span class="text-white h-8 w-8 md:h-14 md:w-14" aria-hidden set:html={LinkedInRaw} />
      </a>
    </nav>
  </div>
</section>
