---
import { Footer, Navbar } from "@components";
import Head from "./Head.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
  noindex?: boolean;
}

const { title, description, image, canonicalUrl, noindex } = Astro.props;
---

<html lang="pt-BR">
  <Head
    title={title}
    description={description}
    image={image}
    canonicalUrl={canonicalUrl}
    noindex={noindex}
  />

  <body>
    <Navbar transition:persist="navbar" />
    <slot
      id="page-content"
      transition:name="page-content"
      transition:animate="slide"
    />
    <Footer />
  </body>
</html>
